<div class="banner-color d-flex align-items-center">
  <h4 class="container p-0">Contacto</h4>
</div>

<div class="container py-5">
  <div class="row w-100 justify-content-between pb-5">
    <div class="col-lg-2 col-md-6 col-sm-12 p-0 pb-sm-4">
      <div class="d-flex flex-column align-items-center">
        <img src="assets/icons/contact/location-icon.png" alt="" />
        <h5>Dirección</h5>
        <h6 style="text-align: center">
          <span style="text-decoration: underline; color: #598c8c">
            Calle N38 (ex Hipólito Irigoyen 4140)</span
          >, Pdo. de Gral. San Martín (CP B1650IFL), Prov. de Bs. As - Argentina
        </h6>
      </div>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-12 p-0 pb-sm-4">
      <div class="d-flex flex-column align-items-center">
        <img src="assets/icons/contact/clock-icon.png" alt="" />
        <h5>Horario de atención</h5>
        <h6 style="text-align: center">
          Lunes a viernes: <br />
          <span style="color: #598c8c"> 7:00 - 17:00</span>
          <br />
          Sábado y domingo: <br />
          <span style="color: #b0555c">cerrado</span>
        </h6>
      </div>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-12 p-0 pb-sm-4">
      <div class="d-flex flex-column align-items-center">
        <img src="assets/icons/contact/phone-icon.png" alt="" />
        <h5>Teléfono</h5>
        <h6>
          <span style="text-decoration: underline; color: #598c8c">
            +54 (011) 4755-5661
          </span>
        </h6>
        <h6>
          <span style="text-decoration: underline; color: #598c8c">
            +54 (011) 4753-0933
          </span>
        </h6>
      </div>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-12 p-0 pb-sm-4">
      <div class="d-flex flex-column align-items-center">
        <img src="assets/icons/contact/email-icon.png" alt="" />
        <h5>Correo electrónico</h5>
        <h6>
          <span style="text-decoration: underline; color: #598c8c">
            info@stoccohnos.com.ar
          </span>
        </h6>
      </div>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-12 p-0 pb-sm-4">
      <div class="d-flex flex-column align-items-center">
        <img src="assets/icons/contact/wpp-icon.png" />
        <h5>Whatsapp</h5>
        <h6>
          <span
            style="
              text-decoration: underline;
              color: #598c8c;
              text-align: center;
            "
            >+54 11 3067 9229</span
          >
        </h6>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 mb-4">
      <div style="width: 100%; background-color: #f4f4f4; padding: 1.5rem">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.768215239396!2d-58.53715478477087!3d-34.584730980464464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb79efabc3e69%3A0x99db83335f115160!2sStocco%20Hermanos%20SA!5e0!3m2!1ses-419!2sar!4v1647957360824!5m2!1ses-419!2sar"
          width="100%"
          height="450"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div style="width: 100%; background-color: #f4f4f4; padding: 1.5rem">
        <h1 class="title pb-3">Formulario de contacto</h1>
        <div class="contact-form redondeo">
          <form id="miFormulario" action="enviar.php" method="POST">
            <div>
              <div class="form-group pb-3">
                <input
                  id="name"
                  type="text"
                  class="form-control"
                  name="name"
                  autocomplete="name"
                  placeholder="Nombre"
                  required
                />
              </div>
              <div class="form-group pb-3">
                <input
                  id="email"
                  type="email"
                  class="form-control"
                  autocomplete="email"
                  placeholder="Email"
                  required
                />
              </div>
              <div class="form-group pb-3">
                <input
                  type="text"
                  class="form-control"
                  name="phone"
                  id="phone"
                  autocomplete="phone"
                  placeholder="Teléfono"
                />
              </div>
              <div class="form-group pb-3">
                <textarea
                  class="form-control"
                  style="height: 170px; border: 1px solid #11558e"
                  placeholder="Mensaje"
                  name="message"
                  required
                ></textarea>
              </div>
            </div>
            <div class="row justify-content-center mt-4">
              <div class="col-auto text-center recaptcha"></div>
            </div>
            <button
              type="submit"
              class="button button-send"
              style="color: #ffffff; border: none"
              name="submit"
            >
              Enviar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
