<div class="bg-banner">
  <div class="container py-4">
    <div
      class="d-flex flex-column justify-content-center align-items-center pb-lg-5 pb-sm-3"
    >
      <img
        class="mb-4"
        style="height: 4.5rem; width: auto"
        src="assets/img/services/recurso-5.webp"
        alt=""
      />

      <h3>Obra civil</h3>
    </div>
    <section class="container-fluid p-0">
      <div id="imasentira" class="row no-gutters d-flex justify-content-center">
        <a
          href="#"
          class="d-flex justify-content-center"
          data-bs-toggle="modal"
          data-bs-target="#carouselModalCivilWork"
          data-slide-to="0"
        >
          <img
            class="px-3"
            src="assets/img/services/civil-work/obra-1.webp"
            style="width: 350px; height: 300px"
            alt="Imagen 1"
          />
        </a>
      </div>

      <div
        class="modal fade"
        id="carouselModalCivilWork"
        tabindex="-1"
        role="dialog"
        aria-labelledby="carouselModalLabelCivilWork"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content" style="background: none">
            <div
              class="modal-body p-0"
              style="display: flex; justify-content: center"
            >
              <div class="d-flex flex-column align-items-center">
                <h4>Obra civil</h4>

                <img
                  src="assets/img/services/civil-work/obra-1.webp"
                  style="
                    height: 40rem;
                    width: 50rem;
                    object-fit: cover;
                    object-position: center;
                  "
                  alt="Obra civil"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
