$sky-light: #e3e5e5;
$sky-dark: #9e9e9e;

/*
    Palette colors
*/

$primary: #2d5784;
$secondary: #2669bf;
$white: #fffffe;

$black-1: #292e33;

$green-aqua: #46a192;

$white-1: #e5e5e5;

$green-aqua-1: #56a0c9;

$white-2: #f9f9f9;
$white-3: #f9f9fa;
$white-4: #fafafa;

$black: #000000;
$black-1: #22242c;
$black-2: #2a2a2d;

$grey: #646464;
$grey-1: #8d8d8d;

$error-red: #cc3d3d;
$red-negative: #d70000;
$green-positive: #37b65d;
$pending: #33a3aa;

$background-color-button-black: #2c2b2b;
$background-color-button-clean: #d5e0ef;
$color-text-button-clean: #54617a;

$background-button-success: $background-color-button-black;
$border-button-success: $black-2;
$color-button-success: $white;

$bg-primary: $primary;
$bg-secondary: $grey;

/*
modal
*/
$title-modal: #140000;

$title: $black-1;

$th-title: #b0cad1;
$td-primary: #425662;
$td-secondary: #8e8ea1;

/*
input
*/

$text-label: #a7afb7;

$input-color: #777777;
$placeholder-grey: #f9f9fa;
$border-input-color: #dcdbdd;
$border-input-focus-color: #d9f2ff;
$disabled-grey-color: #eeeeee55;

$border-gray: #eaeaea;
$border-select-material: #dcdbdd;
$select-color-material: #84818a;

$border-table: $border-gray;

$text-description: #878787;
$color-text-secondary: #9c9c9c;

$text-color-blue-dark: #293340;

$text-message: #939393;

/* 
    bottomSheet
*/

$button-cancel-text-color: #ee8b8b;

$border-color-separator-accordion: #efeff2;

/*
    Background;
*/

$input-disabled-background: $disabled-grey-color;
$material-select-background-color: $white;
$input-background-color: $white;
