// podes poner los tamaños de las letras line height y todo los que este relacionado a tamaño, dejalo comentado com oun titulo : =>

/*
    *Resoluciones de pantallas (Screen resolutions)
*/
$screen-sm: 766px;
$screen-md: 1024px;
$screen-lg: 1025px;

$screen-mmd: 1300px;


$screen-v-sm: 800px;
$screen-h-sm: 396px;

