<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#home">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#service"
            >Servicios</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#company"
            >Empresa</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#contact"
            >Contacto</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
 -->

<div
  class="d-flex w-100 bg-primary align-items-center justify-content-between"
  style="padding: 1rem 8rem"
>
  <div class="d-flex">
    <div class="d-flex align-items-center">
      <img src="" alt="" />
      <h6>+54 (011) 4755-5661</h6>
    </div>
    <div class="d-flex align-items-center">
      <img src="" alt="" />
      <h6>+54 (011) 6067-9229</h6>
    </div>
    <div class="d-flex align-items-center">
      <img src="" alt="" />
      <h6>info@stoccohnos.com.ar</h6>
    </div>
  </div>
  <div class="d-flex align-items-center">
    <img src="" alt="" />
    <h6>Hipólito Irigoyen 4140, San Martín, Prov. de Bs. As, Argentina</h6>
  </div>
</div>
