<div class="container p-md-1">
  <div
    class="d-flex w-100 align-items-center justify-content-between"
    style="padding: 1rem 0"
  >
    <div class="d-flex">
      <div class="d-flex align-items-center">
        <img src="assets/icons/top-nav/phone.png" alt="" />
        <h6 class="ml-2">
          <a href="https://wa.me/541144744513" target="_blank"
            >+54 (011) 4474 4513</a
          >
        </h6>
      </div>
      <div class="d-flex align-items-center mx-2">
        <img src="assets/icons/top-nav/wpp.png" alt="" />
        <h6 class="ml-2">
          <a href="https://wa.me/541144230374" target="_blank"
            >+54 (011) 4423 0374</a
          >
        </h6>
      </div>
      <!--   <button
        class="d-flex align-items-center"
        style="border: none; background: none"
        (click)="abrirClienteCorreo()"
      >
        <img src="assets/icons/top-nav/email.png" alt="" />
        <h6 class="ml-2">info@gruposysconstrucciones.com.ar</h6>
      </button> -->
    </div>
    <!--   <div class="d-flex align-items-center">
      <img src="assets/icons/top-nav/ubication.png" alt="" />
      <h6>
        <a
          href="https://www.google.com/maps/search/?api=1&query=Hipólito+Irigoyen+4140,+San+Martín,+Prov.+de+Bs.+As,+Argentina"
          target="_blank"
          >Hipólito Irigoyen 4140, San Martín, Prov. de Bs. As, Argentina</a
        >
      </h6>
    </div> -->
    <button
      class="d-flex align-items-center"
      style="border: none; background: none"
      (click)="abrirClienteCorreo()"
    >
      <img src="assets/icons/top-nav/email.png" alt="" />
      <h6 class="ml-2">info@gruposysconstrucciones.com.ar</h6>
    </button>
  </div>
  <div class="break"></div>
</div>
