<app-navbar></app-navbar>

<!-- navbar -->

<!-- <nav
  class="navbar navbar-expand-lg bg-body-tertiary sticky-top d-flex justify-content-between"
>
  <img class="img-fluid" src="assets/img/navbar/logo_gruposys.png" alt="" />

  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 view__title">
        <li class="nav-item">
          <a
            class="nav-link active view__title"
            aria-current="page"
            href="#home"
            >Inicio</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active view__title"
            aria-current="page"
            href="#company"
            >Empresa</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active view__title"
            aria-current="page"
            href="#service"
            >Servicios</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link active view__title"
            aria-current="page"
            href="#contact"
            >Contacto</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav> -->
<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
  <div class="container py-4 d-flex justify-content-between align-items-center">
    <a class="navbar-brand" href="#">
      <img
        style="width: 17.5rem; height: 3.5rem"
        class="img-fluid"
        src="assets/img/navbar/logo_gruposys.png"
        alt=""
      />
    </a>
    <div>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a
              class="nav-link active view__title"
              (click)="scrollToSection('home')"
              >Inicio</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active view__title"
              (click)="scrollToSection('company')"
              >Empresa</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active view__title"
              (click)="scrollToSection('service')"
              >Servicios</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active view__title"
              (click)="scrollToSection('contact')"
              >Contacto</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<app-home id="home">Home</app-home>
<app-clients></app-clients>

<app-company id="company">Company</app-company>

<app-service id="service">Service</app-service>
<app-contact id="contact">Contact</app-contact>

<app-footer></app-footer>
<!--    <div class="row align-items-start">
      <div class="col-12 col-md-6 col-lg-4 col-xxl-3 my-3 p-0">
        <app-card></app-card>
      </div>
      
    </div> -->
<!-- 
    <app-columns></app-columns> -->
<!-- 
    <app-accordion></app-accordion> -->

<!--   <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/finsuite/img/Kurt.jpg" class="img-fluid" alt="..." />
      </div>
      <div class="carousel-item active">
        <img src="assets/finsuite/img/Kurt.jpg" class="img-fluid" alt="..." />
      </div>
      <div class="carousel-item active">
        <img src="assets/finsuite/img/Kurt.jpg" class="img-fluid" alt="..." />
      </div>
      <div class="carousel-item active">
        <img src="assets/finsuite/img/Kurt.jpg" class="img-fluid" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="assets/finsuite/img/Kurt.jpg" class="img-fluid" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="assets/finsuite/img/Kurt.jpg" class="img-fluid" alt="..." />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> -->
