@import 'src/app/fs-styles/variables/color.scss';

@mixin buttonCustom($hasBorder: true, $backgroundColor, $color: $white, $borderColor: $white, $border-radius: .75rem){
    background-color: $backgroundColor !important;
    color: $color !important;
    min-height: 3rem !important;
    border: none !important;
    border-radius: $border-radius !important;
    font-size: 0.875rem;
    @if ($hasBorder){
        border: 1px solid $borderColor !important;
    }
}


@mixin buttonBlack ($hasBorder: true, $border-radius: .75rem) {
    @include buttonCustom($hasBorder, $background-color-button-black, $white, $black-2, $border-radius);
}
@mixin buttonWhite ($hasBorder: true, $border-radius: .75rem) {
    @include buttonCustom($hasBorder, $white-2, $black-2, $black-2, $border-radius);
}

@mixin buttonSuccess($hasBorder: true){
    @include buttonCustom($hasBorder, $background-button-success, $color-button-success, $border-button-success);
} 


@mixin inputForm ($fs: .875rem){
    background-color: $input-background-color;
    padding: 0 1.25rem;
    position: relative;
    display: flex;
    align-items: center;
    font-size: $fs;
    height: 3rem;
    min-height: 3rem;
    border: 1px solid $border-input-color;
    border-radius: 0.8rem;
    outline: unset;
    color: $input-color;
    &::placeholder{
        border-color: $border-input-color;
    }
}

@mixin optionMaterial ($font-size: .8rem){
    .mdc-list-item__primary-text{
        font-size: $font-size !important;
    }
}

@mixin selectMaterial ($fs: .875rem){
    @include inputForm();
    background-color: $material-select-background-color;
    padding: 0 !important;
    font-size: $fs !important;
    .mat-mdc-select-trigger{
        height: 100%;
        padding: 0 1rem;
      }
      .mat-mdc-select-arrow {
        background-image: url("/assets/img/cards-block/selectArrowNew.svg");
        background-repeat: no-repeat;
        background-position: right center;
        width: 1.1875rem;
        height: 1.1875rem;
        background-size: cover;
        svg {
          display: none;
        }
      }
}