<table class="table" *ngIf="data">
  <!-- headers -->
  <thead class="table__head">
    <tr class="table__head-row">
      <th
        class="table__head-row-item"
        *ngFor="let key of keyColumns"
        [ngStyle]="tableStyles[tableStyle]['dataHead']"
        (click)="onSort($event, key)"
      >
        <div class="table__head-row-item--text">
          {{ tableHeads[key] }}
          <ng-container *ngTemplateOutlet="sort"></ng-container>
        </div>
      </th>
      <th
        class="table__head-row-item"
        *ngIf="actions.length"
        [ngStyle]="tableStyles[tableStyle]['dataHead']"
      >
        {{ keyTranslate + ".ACTIONS" | translate }}
      </th>
    </tr>
  </thead>
  <!-- body fields -->
  <tbody class="table__body">
    <ng-container *ngFor="let dataField of data">
      <tr class="table__body-row">
        <td
          class="table__body-row-item"
          *ngFor="let key of keyColumns"
          [ngStyle]="tableStyles[tableStyle]['dataRow']"
        >
          {{ dataField[key] | transformDataTable : key : keyTranslate }}
        </td>
        <td
          class="table__body-row-actions"
          *ngIf="actions.length"
          [ngStyle]="tableStyles[tableStyle]['dataRow']"
        >
          <ul class="table__body-row-actions-list">
            <ng-container *ngFor="let action of actions">
              <span
                class="table__body-row-actions-list-item"
                (click)="onAction(action, dataField)"
                [matTooltip]="getTooltipText(action, dataField)"
                [ngStyle]="{
                  'background-image': this.checkAction(dataField, action).icon,
                  'pointer-events': this.checkAction(dataField, action).pointerEvents
                }"
              ></span>
            </ng-container>
          </ul>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>

<!-- sort icon -->
<ng-template #sort>
  <span class="table__head-row-item-sort">
    <svg
      class="table__head-row-item-sort-up"
      xmlns="http://www.w3.org/2000/svg"
      width="6"
      height="4"
      viewBox="0 0 6 4"
      fill="none"
    >
      <path
        class="table__head-row-item-sort-down--fill"
        d="M5.70867 3.28674H0.289317C0.0328653 3.28674 -0.0977798 2.97707 0.0860911 2.79319L2.79577 0.0835173C2.90706 -0.027773 3.09093 -0.027773 3.20227 0.0835173L5.91195 2.79319C6.09577 2.97707 5.96512 3.28674 5.70867 3.28674Z"
        fill="#CFD9DF"
      />
    </svg>
    <svg
      class="table__head-row-item-sort-down"
      xmlns="http://www.w3.org/2000/svg"
      width="6"
      height="4"
      viewBox="0 0 6 4"
      fill="none"
    >
      <path
        class="table__head-row-item-sort-down--fill"
        d="M5.70867 0.713257H0.289317C0.0328653 0.713257 -0.0977798 1.02293 0.0860911 1.20681L2.79577 3.91648C2.90706 4.02777 3.09093 4.02777 3.20227 3.91648L5.91195 1.20681C6.09577 1.02293 5.96512 0.713257 5.70867 0.713257Z"
        fill="#CFD9DF"
      />
    </svg>
  </span>
</ng-template>
