<div
  class="banner-color d-flex flex-column justify-content-center align-items-center py-3"
>
  <img src="assets/img/footer/GrupoSYS-white.webp" alt="" />
  <h6 class="text-center py-2" style="color: #ffffff">
    Todos los derechos reservados GRUPOSYS Construcciones, 2024
  </h6>
</div>
<div class="d-flex align-items-center justify-content-center py-3">
  <h6 class="text-center" style="color: #2669bf; font-weight: 600">
    Sitio web desarrollado por
    <a
      href="https://www.estevezideas.com/"
      target="_blank"
      style="color: #2d5784; font-weight: 800; text-transform: uppercase"
      >Estevez ideas</a
    >
  </h6>
</div>
