<div class="bg-banner">
  <div class="container py-5">
    <div
      class="d-flex flex-column justify-content-center align-items-center pb-5"
    >
      <img
        class="my-4"
        style="
          height: 4.5rem;
          width: auto;
          object-fit: cover;
          object-position: center;
        "
        src="assets/img/services/recurso-1.webp"
        alt=""
      />

      <h3>Herreria de obra</h3>
    </div>
    <p-carousel
      [value]="images"
      [numVisible]="3"
      [numScroll]="1"
      [responsiveOptions]="responsiveOptions"
      [showIndicators]="false"
      [circular]="true"
    >
      <ng-template let-item pTemplate="item">
        <a
          href="#carouselModal"
          data-bs-toggle="modal"
          data-bs-target="#carouselModal"
        >
          <img
            class="px-3"
            src="{{ item.image }}"
            style="width: 100%; height: 300px"
          />
        </a>
      </ng-template>
    </p-carousel>
  </div>
</div>
<div
  class="modal fade"
  id="carouselModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="carouselModalLabel"
  aria-hidden="true"
>
  <div class="d-flex flex-column modal-dialog modal-dialog-centered modal-lg">
    <h4 style="font-size: 1.5rem; background: none">Herreria de obra</h4>
    <div class="modal-content">
      <div class="modal-body p-0">
        <div
          id="carouselExampleFade"
          class="carousel slide carousel-fade"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="assets/img/services/work-blacksmith/herreria-1.webp"
                style="
                  height: 50rem;
                  width: 50rem;
                  object-fit: cover;
                  object-position: center;
                "
                alt="Imagen 1"
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/img/services/work-blacksmith/herreria-2.webp"
                style="
                  height: 50rem;
                  width: 50rem;
                  object-fit: cover;
                  object-position: center;
                "
                alt="Imagen 2"
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/img/services/work-blacksmith/herreria-3.webp"
                style="
                  height: 50rem;
                  width: 50rem;
                  object-fit: cover;
                  object-position: center;
                "
                alt="Imagen 2"
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/img/services/work-blacksmith/herreria-4.webp"
                style="
                  height: 50rem;
                  width: 50rem;
                  object-fit: cover;
                  object-position: center;
                "
                alt="Imagen 2"
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/img/services/work-blacksmith/herreria-5.webp"
                style="
                  height: 50rem;
                  width: 50rem;
                  object-fit: cover;
                  object-position: center;
                "
                alt="Imagen 2"
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/img/services/work-blacksmith/herreria-6.webp"
                style="
                  height: 50rem;
                  width: 50rem;
                  object-fit: cover;
                  object-position: center;
                "
                alt="Imagen 2"
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/img/services/work-blacksmith/herreria-7.webp"
                style="
                  height: 50rem;
                  width: 50rem;
                  object-fit: cover;
                  object-position: center;
                "
                alt="Imagen 2"
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/img/services/work-blacksmith/herreria-8.webp"
                style="
                  height: 50rem;
                  width: 50rem;
                  object-fit: cover;
                  object-position: center;
                "
                alt="Imagen 2"
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/img/services/work-blacksmith/herreria-9.webp"
                style="
                  height: 50rem;
                  width: 50rem;
                  object-fit: cover;
                  object-position: center;
                "
                alt="Imagen 2"
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/img/services/work-blacksmith/herreria-10.webp"
                style="
                  height: 50rem;
                  width: 50rem;
                  object-fit: cover;
                  object-position: center;
                "
                alt="Imagen 2"
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/img/services/work-blacksmith/herreria-11.webp"
                style="
                  height: 50rem;
                  width: 50rem;
                  object-fit: cover;
                  object-position: center;
                "
                alt="Imagen 2"
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleFade"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleFade"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
