<div class="banner-color d-flex align-items-center">
  <h4 class="container">Empresa</h4>
</div>
<div class="container">
  <div class="row mb-5">
    <div class="d-flex flex-column justify-content-center py-5">
      <h3>Nuestra historia</h3>
      <div class="break"></div>
    </div>
    <div class="col-md-12 col-lg-6 description" style="padding-right: 2rem">
      <p>
        Stocco Hermanos fue fundada el 2 de mayo 1920 por Luis Stocco, un
        inmigrante italiano que arribó a la Argentina en 1908 como montador de
        herrería de la reconocida confitería El Molino de Buenos Aires. A lo
        largo de sus más de 100 años de historia, hemos trabajado y trabajamos
        en la misma, cuatro generaciones de la familia Stocco. Desde sus
        orígenes, la empresa proveyó al Agro, la Industria y la Construcción
        todo tipo de tanques (subterráneos, aéreos y de transporte), autoclaves,
        estructuras metálicas e infinidad de instalaciones industriales. En 1945
        comenzamos con la producción de calderas industriales, fabricando más de
        1.500 calderas para terceros, y desarrollando años más tarde la marca
        CALDERAS STOCCO, estando la misma presente en cientos de plantas de
        empresas de primera línea. distinguiéndose por su calidad. <br />
        <br />
        La compañía fabricó desde sus inicios los cabezales para sus tanques,
        hasta que en el año 1978 se decidió la inversión en
        <span class="highlight-text"
          >maquinaria de reconocido prestigio internacional</span
        >
        para poder ofrecer el servicio de conformado de casquetes a terceros. En
        los últimos 40 años la empresa se especializó en la producción de
        cabezales (también conocidos como casquetes, fondo de tanque o tapa de
        tanque), invirtiendo constantemente en infraestructura y maquinaria,
        contando al día de hoy con una planta de 3.000 m2, equipada con 4
        Prensas Boldrini (dos de ellas con manipuleador automático de 5 y 7,5
        toneladas), 4 Rebordeadoras Boldrini, ​ 2 maquinas de terminación,12
        puentes de grúa y dos hornos de distendiendo, que nos permiten conformar
        casquetes Toriesfericos, casquetes Semielipticos y otros según normas
        ASME VIII Div.1 o adaptándonos a las necesidades del diseño del cliente,
        en diámetros de 340 a 6.000 mm, en espesores de 3 a 32 mm, en acero al
        carbono, inoxidable, aluminio, bronce, clad u otros materiales a
        consideración.
      </p>
    </div>
    <div class="col-md-12 col-lg-6">
      <img
        style="object-fit: cover; height: 50rem; width: 100%"
        src="assets/img/tanks/tank-5.jpg"
        alt=""
      />
    </div>
  </div>
</div>
