<div class="banner-color d-flex align-items-center">
  <h4 class="container">Empresa</h4>
</div>
<div class="container py-4">
  <div class="row">
    <div class="d-flex flex-column pb-4">
      <h3>Nuestra historia</h3>
      <div class="break"></div>
    </div>

    <div class="col-md-12 col-lg-6 description mb-3">
      <p>
        Con décadas de experiencia y un enfoque inquebrantable en la calidad y
        la innovación, hemos establecido un estándar de excelencia que nos
        posiciona como líderes indiscutibles en nuestro campo en el mercado
        local.
        <br />
        Nos especializados en una amplia gama de servicios que abarca desde
        herrería de obra y mantenimiento de plantas productivas hasta la
        fabricación de tanques industriales, equipos especializados, estructuras
        metálicas y proyectos de obra civil. <br />
        Nuestro equipo humano es el pilar de nuestro éxito. Con una combinación
        de experiencia, pasión y dedicación, nuestros empleados son la fuerza
        impulsora detrás de cada proyecto que emprendemos. Trabajamos en
        estrecha colaboración con nuestros clientes para comprender sus
        necesidades y ofrecer soluciones a medida que garanticen resultados
        excepcionales. <br />
        A lo largo de los años, hemos tenido el privilegio de contar entre
        nuestros clientes a algunas de las empresas más destacadas tanto en el
        ámbito argentino como internacional. Este respaldo es un testimonio de
        nuestra reputación y nuestro compromiso con la excelencia en todo lo que
        hacemos.
      </p>
    </div>
    <div class="col-md-12 col-lg-6">
      <!-- Imagen para pantallas grandes (md y lg) -->
      <img
        style="
          object-fit: cover;
          object-position: center;
          height: 40rem;
          width: 100%;
        "
        src="assets/img/services/tanks/tank-5.webp"
        class="d-none d-lg-block"
        alt=""
      />
      <!-- Imagen para pantallas pequeñas (sm) -->
      <img
        style="
          object-fit: cover;
          object-position: center;
          height: 25rem;
          width: 100%;
        "
        src="assets/img/services/tanks/tank-5.webp"
        class="d-block d-lg-none"
        alt=""
      />
    </div>
  </div>
</div>
