@import "src/app/fs-styles/variables/color.scss";
@import "src/app/fs-styles/mixins/generalText.scss";
.banner-color {
  height: 7rem;
  width: 100%;
  background: linear-gradient(
    to right,
    rgba(#11558e, 1) 55%,
    rgba(72, 159, 151, 1)
  );
}

h4 {
  text-transform: uppercase;
  @include titleSectionHome();
}
h3 {
  color: $secondary !important;
  text-transform: uppercase;
  @include titleSectionHome();
}

.description {
  @include textgeneral();
}

.break {
  width: 3.5rem;
  height: 0.5rem;
  background: linear-gradient(
    to right,
    rgba(17, 85, 142, 1) 55%,
    rgba(72, 159, 151, 1)
  );
  background-clip: padding-box, border-box;
}
